.menu-is-open {

  .side-nav {
    pointer-events: auto;
  }

  .menu-bar {

    &__burger {

      span {
        transform: rotate(90deg);
        background-color: rgba($white, 0);

        &:before {
          transform: rotate(45deg);
          background-color: $white;
        }

        &:after {
          transform: rotate(-45deg);
          background-color: $white;
        }
      }
    }

    &__logo-img {

      &--light {
        opacity: 1;
      }

      &--dark {
        opacity: 0;
      }
    }


    &__social-media {
      @include mobile() {
        pointer-events: auto;
        opacity: 1;
        transition: opacity 1.2s $ease-out-quint 0.6s;
      }
    }

    &__social-media-link svg path:not(.bounds) {
      fill: $white;
    }
  }

  .container {
    transform: translateX(80px);

    @include tablet() {
      transform: none;
    }
  }
}
