{% extends "base.twig" %}

{% block content %}
  {% if not isAJAX %}<div id="page-catering" class="page page-catering">{% endif %}
    <h1>{{ post.title }}</h1>
  {% if not isAJAX %}</div>{% endif %}
{% endblock %}
