{% extends "base.twig" %}

{% block content %}
  {% if not isAJAX %}<div id="page-story" class="page page-story">{% endif %}
    <h1>{{ post.title }}</h1>
  {% if not isAJAX %}</div>{% endif %}
{% endblock %}
