@keyframes loader {
  0% {
    visibility: visible;
    transform: translateX(-100%);
  }
  50% {
    transform: none;
  }
  99% {
    transform: translateX(100%);
  }
  100% {
    visibility: hidden;
  }
}
