@mixin hidden() {
  opacity: 0;
  visibility: hidden;
}

@mixin visible() {
  opacity: 1;
  visibility: visible;
}

@mixin pointer-events-hidden() {
  opacity: 0;
  pointer-events: none;
}

@mixin pointer-events-visible() {
  opacity: 1;
  pointer-events: auto;
}

@mixin absolute() {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left:0;
   margin: auto;
}

@mixin fixed() {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left:0;
   margin: auto;
}

@mixin center-block() {
  display: block;
  margin: 0 auto;
}

@mixin reset-button() {
  appearance: none;
  border-radius: 0;
  border: none;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

// Media Query Mixins
@mixin mobile-xs() {
  @media #{$mobile-xs} {
    @content;
  }
}

@mixin mobile() {
  @media #{$mobile} {
    @content;
  }
}

@mixin tablet() {
  @media #{$tablet} {
    @content;
  }
}

@mixin desktop() {
  @media #{$desktop} {
    @content;
  }
}

@mixin desktop-hd() {
  @media #{$desktop-hd} {
    @content;
  }
}

// fluid units with min and max
@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media screen and (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
    }
  }

  @media screen and (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}
