// Paths
$base-fonts: 'assets/fonts/';
$base-img: 'assets/img/';

// Font stacks
$font-freight: 'Freight Text Pro', $georgia;
$font-roboto-mono: 'Roboto Mono', $monospace;

// Defaults
$font-title: $font-freight;
$font-body: $font-roboto-mono;

// Colors
$light-green: #87977B;
$dark-green: #3A5644;
$tan: #FFF9EB;
$pink: #F9C8BD;
$dark-blue: #2C315A;
$light-grey: #B8B8B8;
$dark-grey: #676767;
$white: #FFFFFF;

// Sizes
$menu-bar-size: 12.5rem;

// Breakpoints
// # using `max-width` for this project
$xs: 320px;
$sm: 450px;
$md: 768px;
$xl: 1440px;

$mobile-xs: '(max-width: #{$xs})';
$mobile: '(max-width: #{$sm})';
$tablet: '(max-width: #{$md})';
$desktop-hd: '(max-width: #{$xl})';
