@import 'normalize';
@import 'bourbon';
@import 'variables';
@import 'functions';
@import 'mixins';
@import 'fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
  font-size: 8px;
}

html, body {
  @include size(100%);
}

body {
  font-size: 2rem;
  font-family: $font-title;
  color: $ash;
}

a {
  text-decoration: none;
  color: $charcoal;
}

h1 {
  color: $eucalyptus-1;
  margin: 0;
}
