@import 'normalize';
@import 'bourbon';
@import 'variables';
@import 'fonts';

* {
  box-sizing: border-box;
}

html {
  font-size: 8px;
}

html, body {
  @include size(100%);
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
