<div class="cta">
  <div class="cta__inner">
    <h3 class="cta__title js-title">Feeling hungry?</h3>
    <a href="/menu" class="button button--cta">
      View our menu
      <div data-label="View our menu"></div>
    </a>
  </div>
  <img class="cta__image" src="{{ site.theme.link }}/assets/img/cta-1.jpg" alt="watercolor">
  <img class="cta__image cta__image--mobile" src="{{ site.theme.link }}/assets/img/cta-1-mobile.jpg" alt="watercolor">
</div>
