<div class="menu-bar js-menu-bar" >
	<!-- hamburger -->
	<button class="menu-bar__burger js-burger">
		<div class="menu-bar__burger--bar"></div>
		<div class="menu-bar__burger--bar"></div>
		<div class="menu-bar__burger--bar"></div>
	</button>

	<!-- logo -->
	<a class="menu-bar__logo" href="{{ site.url }}" rel="home"></a>

	<!-- socials -->
	<div class="menu-bar__social-media">
		<a href="#0" class="menu-bar__social-media-link">
			<svg width="12" height="24" viewBox="0 0 12 24" xmlns="http://www.w3.org/2000/svg"><title>facebook</title><path d="M8.288 8.15V5.833c-.386-1.405-.157-1.93 1.158-2.316h2.317V.043H8.288c-4.03 0-5.392 1.894-5.79 4.632V8.15H.18v3.474H2.5v11.58h5.79v-11.58h3.475V8.15H8.288z" fill-rule="nonzero" fill="#979797"/></svg>
		</a>
		<a href="#0" class="menu-bar__social-media-link">
			<svg width="21" height="18" viewBox="0 0 21 18" xmlns="http://www.w3.org/2000/svg"><title>twitter</title><path d="M20.826 2.648c-.77.09-1.59.326-2.317 0 .743-.108 1.423-.968 2.316-2.316-1.4.828-2.315 1.194-3.475 1.158C16.754.866 15.64.332 13.878.332c-1.83 0-3.742 1.963-3.474 4.632-.268.095-.232.43 0 1.158C6.69 5.534 3.536 3.788 1.138 1.49c-.076.29-.288 1.045 0 2.316C.85 4.856 1.61 6.2 2.296 7.28c-.245-.312-.907-.51-1.158-1.158-.324.335-.324.353 0 0C.814 8.62 2.29 10.39 4.612 10.755c-.723.136-1.103.19-1.158 0-.608.19-.877.163-1.158 0 .564 1.85 2.145 3.117 3.474 3.474-.918.854-2.765 1.555-4.632 1.157-.483.398-.823.376-1.16 0 1.888 1.593 4.136 2.317 6.95 2.317 7.475 0 11.777-6.682 11.58-12.74.197.073.193-.117 0 0 1.02-.922 1.743-1.692 2.318-2.316z" fill-rule="nonzero" fill="#979797"/></svg>
		</a>
		<a href="#0" class="menu-bar__social-media-link">
			<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>instagram</title><g fill-rule="nonzero" fill="none"><path d="M14.295 0c3.005 0 5.45 2.444 5.45 5.45v8.845c0 3.005-2.445 5.45-5.45 5.45H5.448C2.444 19.744 0 17.3 0 14.294V5.45C0 2.443 2.444 0 5.448 0h8.847z" fill="#979797"/><path d="M9.872 4.785c-2.805 0-5.088 2.282-5.088 5.087 0 2.805 2.283 5.087 5.088 5.087s5.087-2.283 5.087-5.088-2.283-5.087-5.088-5.087zm0 8.423c-1.84 0-3.336-1.497-3.336-3.336 0-1.84 1.497-3.336 3.336-3.336 1.84 0 3.336 1.497 3.336 3.336 0 1.84-1.497 3.336-3.336 3.336zM15.173 3.3c-.338 0-.67.136-.908.375-.24.24-.377.57-.377.91 0 .337.138.668.377.907.24.24.57.377.908.377.338 0 .67-.14.908-.378.24-.24.377-.57.377-.908 0-.34-.136-.67-.376-.91-.237-.238-.57-.375-.907-.375z" fill="#FDFDFD"/></g></svg>
		</a>
	</div>

	{% include "side-nav.twig"  with { 'menu': menu.get_items } %}
</div>
