<div class="menu-bar js-menu-bar" >
	<!-- hamburger -->
	<button class="menu-bar__burger js-burger">
		<span></span>
	</button>

	<!-- logo -->
	<a class="menu-bar__logo" href="{{ site.url }}" rel="home">
		<img class="menu-bar__logo-img menu-bar__logo-img--light" src="{{ site.theme.link }}/assets/img/logo-sm-light.png" alt="logo-light">
		<img class="menu-bar__logo-img menu-bar__logo-img--dark" src="{{ site.theme.link }}/assets/img/logo-sm-dark.png" alt="logo-dark">
	</a>

	<!-- socials -->
	<div class="menu-bar__social-media">
		<a href="#0" class="menu-bar__social-media-link">
			<svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><title>facbook</title><g fill="none" fill-rule="evenodd"><path class="bounds" d="M0 0h40v40H0z"/><path d="M28.897 10H11.104c-.61 0-1.104.494-1.104 1.104v17.792c0 .61.494 1.104 1.104 1.104h9.58v-7.745h-2.607v-3.018h2.606V17.01c0-2.583 1.578-3.99 3.883-3.99.778-.002 1.556.038 2.33.12v2.698h-1.6c-1.252 0-1.498.595-1.498 1.47v1.927h2.99l-.39 3.018H23.8V30h5.096c.61 0 1.104-.494 1.104-1.104V11.104c0-.61-.494-1.104-1.103-1.104z" fill="#B8B8B8" fill-rule="nonzero"/></g></svg>
		</a>
		<a href="#0" class="menu-bar__social-media-link">
			<svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><title>spotify</title><g fill="none" fill-rule="evenodd"><path class="bounds" d="M0 0h40v40H0z"/><path d="M20.003 10c4.058 0 7.712 2.455 9.25 6.21 1.54 3.754.655 8.066-2.236 10.914-2.89 2.847-7.215 3.666-10.946 2.07-3.73-1.593-6.128-5.284-6.07-9.34.086-5.465 4.538-9.85 10.003-9.854zm-1.765 5.288c-.315.018-.925.043-1.534.092-.99.075-1.97.256-2.92.538-.326.09-.58.347-.66.675-.082.328.02.675.268.905.248.23.6.31.922.205 1.207-.338 2.453-.52 3.707-.54 1.088-.034 2.177.03 3.253.19 1.64.24 3.216.676 4.656 1.516.32.2.73.17 1.02-.073.247-.186.385-.483.367-.792-.018-.31-.19-.588-.457-.744-.736-.436-1.52-.79-2.335-1.053-1.947-.644-3.953-.903-6.287-.92zm.107 3.462c-.253 0-.506-.01-.758 0-1.092.044-2.175.224-3.223.537-.207.05-.384.184-.49.37-.106.184-.13.405-.07.61.128.422.555.638 1.007.504.673-.198 1.362-.334 2.06-.406 1.163-.122 2.337-.096 3.494.078 1.552.23 3.016.687 4.364 1.5.236.175.55.202.813.07.263-.135.427-.405.424-.7-.003-.293-.172-.56-.437-.688-.367-.21-.738-.42-1.122-.597-1.924-.894-3.956-1.273-6.066-1.272l.005-.005zm0 3.24c-1.225.018-2.446.17-3.638.453-.23.036-.42.196-.493.416-.074.22-.02.462.142.628.16.167.402.23.624.163.828-.188 1.67-.315 2.515-.38 1.006-.077 2.017-.028 3.01.146 1.14.2 2.233.608 3.224 1.206.19.12.43.13.628.022.198-.108.32-.315.323-.54.002-.226-.12-.434-.317-.543-.28-.164-.562-.324-.853-.466-1.6-.777-3.298-1.098-5.167-1.1l.002-.003z" fill="#B8B8B8" fill-rule="nonzero"/></g></svg>
		</a>
		<a href="#0" class="menu-bar__social-media-link">
			<svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><title>instagram</title><g fill="none" fill-rule="evenodd"><path class="bounds" d="M0 0h40v40H0z"/><path d="M10 23.294v-6.588c.015-.06.026-.124.032-.187.023-.774.058-1.545.246-2.3.428-1.703 1.416-2.942 3.04-3.645.88-.38 1.817-.49 2.765-.53.208-.008.416-.03.623-.045h6.588c.06.015.124.026.187.032.774.023 1.545.058 2.3.247 1.703.426 2.942 1.414 3.645 3.038.38.88.49 1.817.53 2.765.008.208.03.416.045.623v6.588c-.015.06-.026.124-.032.187-.023.774-.058 1.545-.247 2.3-.426 1.703-1.414 2.942-3.038 3.645-.88.38-1.817.49-2.765.53-.208.008-.415.03-.623.045h-6.588c-.06-.015-.124-.026-.187-.032-.774-.023-1.545-.058-2.3-.247-1.703-.426-2.942-1.414-3.645-3.038-.38-.88-.49-1.817-.53-2.765-.008-.208-.03-.416-.045-.623zM28.212 20h-.03c0-.833.015-1.667-.006-2.5-.02-.785-.05-1.573-.13-2.353-.075-.747-.338-1.435-.842-2.016-.706-.81-1.637-1.154-2.667-1.217-1.174-.07-2.35-.09-3.526-.103-1.175-.014-2.34-.01-3.51.014-.785.016-1.573.05-2.353.13-.747.075-1.435.338-2.016.842-.81.706-1.154 1.637-1.217 2.667-.07 1.174-.09 2.35-.103 3.526-.014 1.175-.01 2.34.014 3.51.016.785.05 1.573.13 2.353.075.747.338 1.435.842 2.016.706.81 1.637 1.153 2.668 1.217 1.173.07 2.35.09 3.526.103 1.175.014 2.34.015 3.51-.015.864-.023 1.736-.04 2.587-.173 1.453-.228 2.436-1.07 2.828-2.513.125-.474.196-.96.21-1.448.05-1.346.06-2.695.087-4.042z" fill="#B8B8B8" fill-rule="nonzero"/><path d="M25.14 20.004c0 1.365-.545 2.674-1.512 3.638-.966.963-2.277 1.502-3.642 1.497-2.833-.005-5.127-2.307-5.125-5.144-.02-1.852.955-3.57 2.555-4.502 1.6-.93 3.578-.93 5.176.004 1.6.934 2.573 2.655 2.548 4.506zm-5.143 3.323c1.82 0 3.328-1.49 3.33-3.29 0-1.854-1.476-3.362-3.294-3.364-1.86 0-3.36 1.48-3.36 3.32 0 1.837 1.486 3.33 3.324 3.334zM25.327 13.46c.43-.003.83.226 1.047.598.217.373.218.833.004 1.207-.214.374-.612.605-1.043.606-.43.003-.83-.226-1.046-.598-.218-.373-.22-.832-.006-1.206.215-.374.612-.606 1.043-.607z" fill="#B8B8B8" fill-rule="nonzero"/></g></svg>
		</a>
		<a href="#0" class="menu-bar__social-media-link">
			<svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><title>twitter</title><g fill="none" fill-rule="evenodd"><path class="bounds" d="M0 0h40v40H0z"/><path d="M15.362 30.16c9.434 0 14.594-7.817 14.594-14.595 0-.222 0-.443-.015-.663 1.005-.726 1.87-1.625 2.56-2.655-.936.415-1.93.687-2.946.807 1.07-.64 1.872-1.65 2.255-2.837-1.008.597-2.11 1.02-3.258 1.245-1.59-1.69-4.116-2.104-6.162-1.01-2.047 1.096-3.104 3.427-2.58 5.688-4.123-.207-7.966-2.155-10.57-5.36-1.36 2.345-.666 5.343 1.588 6.848-.816-.024-1.615-.244-2.328-.642v.065c0 2.443 1.722 4.546 4.115 5.03-.755.205-1.547.235-2.316.087.67 2.09 2.597 3.52 4.79 3.562-1.815 1.426-4.06 2.2-6.37 2.2-.407-.002-.815-.026-1.22-.075 2.346 1.505 5.075 2.304 7.862 2.3" fill="#B8B8B8" fill-rule="nonzero"/></g></svg>
		</a>
	</div>

	<div class="menu-bar__mask js-mask">
		{% include "side-nav.twig"  with { 'menu': menu.get_items } %}
		<div class="menu-bar__overlay js-overlay"></div>
	</div>
</div>
