.page-home {
  display: block;
  text-align: left;

  &__container {
    @include size(100%);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    transition: transform 0.8s $ease-out-quint;

    @include tablet() {
      margin-left: 0;
    }
  }

  &__inner {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
    text-align: center;

    &::before {
      content: '';
      @include size(56%);
      position: absolute;
      bottom: 0;
      left: 45%;
      transform: translateX(-50%);
      background-image: url('#{$base-img}paint-stroke-pink.png');
      background-size: contain;
      background-repeat: no-repeat;
    }

    @include desktop() {
      width: 35%;

      &::before {
        transform: translateX(-50%) translateY(10%);
      }
    }

    @include tablet() {
      width: 50%;
    }

    @include mobile() {
      left: 3%;
      width: auto;

      &::before {
        transform: translateX(-50%) translateY(15%);
      }
    }
  }

  &__logo {
    @include fluid-type(width, $md, $xl, 190px, 300px);
    @include fluid-type(height, $md, $xl, 150px, 210px);
    @include fluid-type(margin-bottom, $md, $xl, 0px, 48px);
    margin-right: auto;
    margin-left: auto;
    background-image: url('#{$base-img}logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
  }

  &__title,
  &__tagline {
    @include hide-text();
  }
}
