.page {
  @include fixed();
  @include hidden;
  display: block;
  text-align: left;
  margin-left: $menu-bar-size;

  @include tablet() {
    margin-left: 0;
    margin-top: 8rem;
  }

  &__container {
    @include size(100%);
    transition: transform 0.8s $ease-out-quint, opacity 0.8s $ease-out-quint;
  }

  &__section {
    @include position(absolute, 0 0 0 0);
    will-change: transform;

    &:not(:first-child) {
      transform: translateX(100%);
    }

    &--bg {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom right;
    }
  }

  &__image {
    display: inline-block;
    position: absolute;
    z-index: -1;
    width: 70%;
    height: auto;
    right: 0;
    bottom: 0;

    @include desktop() {
      width: 90%;
    }

    @include tablet() {
      width: 100%;
    }

    &--inner {
      width: 100%;
      height: auto;
    }
  }
}
