.preloader {
  @include fixed();
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem;

  // initially hidden!
  @include hidden();

  &__inner {
    width: 100%;
    max-width: 250px;
  }

  &__logo {
    width: 100%;
    height: auto;
    margin-bottom: 4rem;
  }

  &__progress-bar {
    @include size(100% 1px);
    background-color: $eucalyptus-1;
    transform-origin: left;
    transform: scaleX(0);
  }
}
