.preloader {
  @include fixed();
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  @include fixed();
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  @include hidden;
}

@import 'home';
@import 'menu';
