.button {
  @include reset-button();
  display: inline-block;
  padding: 18px 6rem;
  font-family: $font-ui;
  font-weight: 500;
  font-size: 13px;
  line-height: 1;
  color: $white;
  position: relative;
  overflow: hidden;

  &::after {
    display: none;
  }

  div {
    @include size(100%);
    position: absolute;
    top: 0;
    left: 0;
    padding: 18px 6rem;
    transform: translateX(-101%);
    transition: transform 0.6s cubic-bezier(.275,0,0,1);
    overflow: hidden;

    &::after {
      content: attr(data-label);
      display: block;
      padding: 18px 6rem;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(101%);
      transition: transform 0.6s cubic-bezier(.275,0,0,1);
    }
  }

  &:hover {
    div {
      transition: transform 0.6s cubic-bezier(.275,0,0,1);
      transform: none;

      &::after {
        transition: transform 0.6s cubic-bezier(.275,0,0,1);
        transform: none;
      }
    }
  }

  &--primary {
    background-color: $eucalyptus-1;

    div::after {
      background-color: lighten($eucalyptus-1, 10%);
    }
  }

  &--secondary {
    border: 1px solid $ocean-blue-3;
    background-color: transparent;
    color: $charcoal;

    div::after {
      background-color: $ocean-blue-1;
      color: $white;
    }
  }
}
