.form {
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    margin-bottom: 5rem;

    &:last-child {
      margin-bottom: 0;
      padding-left: calc(50% + 3rem);
    }

    &--w-cols {
      .form__input-group {
        &:first-child {
          margin-right: 3rem;
        }

        &:last-child {
          margin-left: 3rem;
        }
      }
    }
  }

  &__input-group {
    width: 100%;
    position: relative;

    &.is-focused {
      .form__label {
        opacity: 1;
      }
    }
  }

  &__label {
    position: absolute;
    top: -1rem;
    left: 0;
    display: block;
    font-size: 9px;
    color: $ash;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s $ease-out-quint;
  }

  &__input {
    @include reset-button();
    width: 100%;
    font-size: 13px;
    line-height: 1.6;
    padding: 0.5rem 0;
    color: $charcoal;
    border-bottom: 1px solid $ocean-blue-3;
    transition: border-color 0.5s $ease-out-quint;

    &:hover,
    &:focus {
      border-color: $ocean-blue-1;
    }

    &:required + .form__label::after {
      content: '*';
      display: inline-block;
      margin-left: 0.5rem;
    }
  }
}

::-webkit-datetime-edit-month-field {
  color: $charcoal;
}

::-webkit-datetime-edit-day-field {
  color: $charcoal;
}

::-webkit-datetime-edit-year-field {
  color: $charcoal;
}

::-webkit-inner-spin-button {
  display: none;
}

::-webkit-calendar-picker-indicator {
  box-sizing: border-box;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-35%);
  right: 0;
  opacity: 1;
}
