.page-menu-item {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 8rem;

  &__header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  &__title {
    text-transform: lowercase;
    margin-right: 8rem;

    .word {
      display: block !important;
      overflow: hidden;
      padding-bottom: 1.5rem;

      &--inner {
        display: inline-block;
        transform: translateY(120%);
      }

      &:last-child {
        margin-left: 5rem;
      }
    }
  }

  &__info {
    width: 35%;
    height: 200%;
    border: 80px solid;
    border-image: url(#{$base-img}text-box--soft.png) 80;

    p {
      background-color: $sand;
    }
  }

  &__image {
    @include center-block();
    width: auto;
    height: 90%;
  }
}
