.page-menu-item {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 8rem;

  @include tablet() {
    padding-top: 0;
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    @include tablet() {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__title {
    text-transform: lowercase;
    margin-right: 8rem;

    @include tablet() {
      margin-right: 0;
    }

    span {
      display: block;

      &:last-child {
        margin-left: 5rem;
      }

      @include tablet() {
        display: inline-block;

        &:last-child {
          margin-left: 0.5ch;
        }
      }
    }
  }

  &__info {
    position: relative;
    flex: 0 0 48ch;
    border: 70px solid;
    border-image: url('#{$base-img}text-box-border-2.png') 90;
    padding-bottom: 3rem;

    @include tablet() {
      flex-basis: 100%;
      padding-bottom: 1rem;
      border-width: 50px;
    }

    &::before {
      content: '';
      display: block;
      @include position(absolute, 0 0 0 0);
      background-image: url('#{$base-img}text-box-background-2.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }

    p {
      position: relative;
      z-index: 2;
    }
  }

  &__image {
    @include center-block();
    width: 100%;
    height: 90%;
    object-fit: contain;

    @include tablet() {
      height: 100%;
      transform: scale(1.2) translateY(10%);
    }
  }
}
