.modal {
  @include fixed();
  background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;
  transition: opacity 0.6s $ease-out-quint;

  &__container {
    width: 100%;
    max-width: 1000px;
    background-color: white;
    display: flex;
    transition: opacity 0.6s $ease-out-quint 0.3s;
  }

  &__body {
    width: 60%;
    padding: 8rem 7rem;
    position: relative;
    overflow: hidden;
  }

  &__image {
    width: 40%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__title {
    margin-bottom: 8rem;

    &--confirmation {
      margin-bottom: 4rem;
    }
  }

  &__section {
    transition: transform 1s $ease-out-quint, opacity 1s $ease-out-quint;

    &--confirmation {
      @include position(absolute, 0 0 0 0);
      padding: 8rem 7rem;
      width: 100%;
      background-color: $white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transform: translateX(100%);
      opacity: 0;
    }
  }

  &__confirmation-body {
    p {
      font-size: 13px;
      line-height: 1.7;
      color: $charcoal;
      margin-bottom: 6rem;
    }
  }
}

.is-confirmation {

  .modal__section {

    &--form {
      transform: translateX(-100%);
      opacity: 0;
    }

    &--confirmation {
      transform: none;
      opacity: 1;
    }
  }
}
