.modal {
  @include fixed();
  background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;
  transition: opacity 0.6s $ease-out-quint;

  &__container {
    width: 100%;
    max-width: 1000px;
    background-color: white;
    display: flex;
    transition: opacity 0.6s $ease-out-quint 0.3s;
  }

  &__body {
    width: 60%;
    padding: 8rem 7rem;
  }

  &__image {
    width: 40%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__title {
    margin-bottom: 8rem;
  }
}
