.side-nav {
    @include position(fixed, 0 null 0 0);

    @include size(100%);

    background-color: $shrimp;
    transform: translateX(calc(100% - 100px));
    will-change: transform;
    pointer-events: none;

    @include tablet {
        transform: translateY(calc(100% - 64px));
    }


    &::after {
        content: '';

        @include position(absolute, 0 0 0 0);

        @include size(100%);

        background-image: url("#{$base-img}texture--pink.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: -1;
    }

    &__inner {
        position: relative;

        @include size(100%);

        padding-left: $menu-bar-size;
        display: flex;
        justify-content: center;
        align-items: center;

        @include tablet {
            padding-left: 0;
        }
    }

    &__menu {
        position: relative;
        list-style-type: none;
        counter-reset: custom-counter;
    }

    &__item {
        @include fluid-type(margin-bottom, $md, $xl, 12px, 16px);

        @include tablet {
            @include fluid-type(margin-bottom, $xs, $md, 12px, 16px);
        }
    }

    &__link {
        position: relative;
        display: inline-block;
        font-family: $font-title;

        @include fluid-type(font-size, $md, $xl, 35px, 65px);

        font-weight: 900;
        color: $white;
        z-index: 200;

        @include tablet {
            @include fluid-type(font-size, $xs, $md, 36px, 72px);
        }


        &::before {
            display: inline-block;
            content: counter(custom-counter, decimal-leading-zero) ".";
            counter-increment: custom-counter;
            color: $white;
            font-family: $font-mr-eaves;
            font-weight: 700;

            @include fluid-type(font-size, $md, $xl, 12px, 16px);

            @include fluid-type(margin-right, $md, $xl, 16px, 32px);

            transition: transform 0.7s $ease-out-expo;

            @include tablet {
                @include fluid-type(font-size, $xs, $md, 12px, 16px);

                @include fluid-type(margin-right, $xs, $md, 16px, 32px);
            }
        }

        &::after {
            content: '';
            position: absolute;

            @include size(7.5rem 1px);

            @include fluid-type(width, $md, $xl, 38px, 60px);

            background-color: $white;
            bottom: 21px;

            @include fluid-type(bottom, $md, $xl, 16px, 25px);

            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform 0.7s $ease-out-expo;

            @include tablet {
                @include fluid-type(width, $xs, $md, 38px, 60px);

                @include fluid-type(bottom, $xs, $md, 16px, 25px);
            }
        }

        &:hover {
            &::before {
                transform: translateX(-140%);
            }

            &::after {
                transform: scaleX(1);
            }
        }
    }
}