.text-box {
  position: relative;
  width: 50%;
  border: 80px solid;
  border-image: url(#{$base-img}text-box--soft.png) 80;

  &::before {
    content: '';
    display: block;
    @include position(absolute, 0 0 0 0);
    background-color: $sand;
  }

  h1, p {
    position: relative;
    z-index: 2;
  }

  &__title {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-60%);
  }

  &__body {
    padding: 0 4rem 0 14rem;
    transform: translateY(-50%);
  }
}
