.text-box {
  position: relative;
  width: 60%;
  border: 75px solid;
  border-image: url('#{$base-img}text-box-border-1.png') 100;

  &::before {
    content: '';
    display: block;
    @include position(absolute, 0 0 0 0);
    background-image: url('#{$base-img}text-box-background-1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  h1, p {
    position: relative;
    z-index: 2;
  }

  &__title {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1;
    transform: translateY(-60%);
  }

  &__body {
    padding: 0 4rem 0 14rem;
    transform: translateY(-6rem);

    &--w-button {

      p {
        margin-bottom: 6rem;
      }
    }
  }

  &__link {
    font-weight: 400;
    color: $ocean-blue-1;
    margin-top: 2rem;
  }
}
